{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}
<div class=" container">
<div class="">
    <div class="page_name"> 
        <h1 style="text-align:center;font-family: 'Noto Sans', sans-serif; font-size:30px;font-weight:bolder">YOUR HOME<br>FOR TRENDING NEWS!</h1> 
    </div>
    <!-- General Sources section  -->
    <hr />
    <div class="source_section">
        <h3 id="general" class="source_section_name" style="text-align:center;font-family: 'Noto Sans', sans-serif; font-size:22px;font-weight:bolder">General News</h3>
        
            <div class="row ">
            <div class="card-deck" style="size=18e">
            {{ macro.displayNewsList(general) }}
            </div>
            </div>
        
    </div>
<!-- Business Sources section  -->
    <hr />
    <div class="source_section">
        <h3 id="business" class="source_section_name" style="text-align:center;font-family: 'Noto Sans', sans-serif; font-size:22px;font-weight:bolder">Business News</h3>
        <ul>
            <div class="row">
            {{ macro.displayNewsList(business) }}
            </div>
        </ul>
    </div>
    <!-- Technology Sources section  -->
    <hr />
    <div class="source_section">
        <h3 id="technology" class="source_section_name" style="text-align:center;font-family: 'Noto Sans', sans-serif; font-size:22px;font-weight:bolder">Technology News</h3>
        <ul>
            <div class="row">
            {{ macro.displayNewsList(technology) }}
            </div>
        </ul>
    </div>
    <!-- Science Sources section  -->
    <hr />
    <div class="source_section">
        <h3 id="science" class="source_section_name" style="text-align:center;font-family: 'Noto Sans', sans-serif; font-size:22px;font-weight:bolder">Science News</h3>
        <ul>
            <div class="row">
            {{ macro.displayNewsList(science) }}
            </div>
        </ul>
    </div>
    <!-- Health Sources section  -->
    <hr />
    <div class="source_section">
        <h3 id="health" class="source_section_name" style="text-align:center;font-family: 'Noto Sans', sans-serif; font-size:22px;font-weight:bolder">Health News</h3>
        <ul>
            <div class="row">
            {{ macro.displayNewsList(health) }}
            </div>
        </ul>
    </div>
    <!-- Sports Sources section  -->
    <hr />
    <div class="source_section">
        <h3 id="sports" class="source_section_name" style="text-align:center;font-family: 'Noto Sans', sans-serif; font-size:22px;font-weight:bolder">Sports News</h3>
        <ul>
            <div class="row">
            {{ macro.displayNewsList(sports) }}
            </div>
        </ul>
    </div>
</div>
{% endblock%}